body{
    margin:0;
}
.texto{
    width:300px;
    height:1000px;
    background-color: #EEEEEE;
    color: #FF0000;
    font-size: 20px;
    font-family:helvetica,verdana;
    font-weight:bold;
    text-align:center;
    text-decoration: underline;

    margin:auto;
    margin-top: 20px;
  }
.flutuante{
    height:100px;
    background-color: blue;
    position:fixed;
    right: 0px;
    bottom:0px;
}